@font-face {
    -fx-font-family: 'Collegiate';
    src: url("/resources/fonts/Collegiate.ttf");
}

@font-face {
    -fx-font-family: 'Lato Hairline';
    src: url("/resources/fonts/Lato-Hairline.ttf");
}

.root { 
    -fx-background-color: #222222;
}

.button{
    -fx-label-padding: 5;
    -fx-font-family: 'Lato Hairline';
    -fx-background-color: white;
}

#h1{
    -fx-font-family: 'Collegiate';
    -fx-font-size: 10em;
    -fx-text-fill: white;
}

#h2{
    -fx-font-family: 'Lato Hairline';
    -fx-font-size: 3em;
    -fx-text-fill: white;
}

#h3{
    -fx-font-family: 'Collegiate';
    -fx-font-size: 1.5em;
    -fx-text-fill: white;
}

.scroll-pane > .viewport {    
    -fx-background-color: #222222;
}

#error {
    -fx-font-family: 'Collegiate';
    -fx-font-size: 1.5em;
    -fx-text-fill: rgb(217, 30, 24);
}